html, body {
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  box-sizing: border-box;
}

.main-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

app-sidebar {
  flex: 0 0 250px;
  height: 100vh;
  z-index: 2;
}

.main-content {
  flex: 1 ;
  min-width: 0;
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  padding: 32px 24px;
  background: #ffffff;
  overflow: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}